.App {
  text-align: center;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin: 5px;
  flex-direction: column;
}

.answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

[data-is-correct="true"] {
    border: 2px solid green;
}

[data-is-correct="false"] {
    border: 2px solid red;
}
