.App {
  text-align: center;
}

#root {
    width: 20em;
    margin: auto;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin: 10px auto;
    flex-direction: column;
}

[data-is-correct="true"] {
    border: 2px solid green;
}

[data-is-correct="false"] {
    border: 2px solid red;
}

.capitalize {
    text-transform: capitalize;
}

.answer {
    border: 1px solid;
    margin: 5px;
    text-align: center;
    cursor: default;
}

.answers {
    width: 100%;
}

.answer[data-is-correct="false"] {
    background: rgba(191, 0, 0, 0.5);
}

.answer[data-is-correct="true"] {
    background: rgba(0, 127, 0, 0.5);
}
